
a {
    color: inherit;
    text-decoration: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  ::selection {
    background-color: #f7ca18;
    color: #1b1b1b;
  }



  nav {
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    bottom: 0;
    height: 100px;
    overflow: hidden;
  }
  nav ul {

    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
  }
  nav li {
    display: flex;
    justify-content: center;
    margin: 0;
    /* float: left; */
    display: inline-block;
    height: 98px;
    margin-bottom: 2px;
    line-height: 100px;
    width: 20vw;
    text-align: center;
    color: #555;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    transform: translateY(100%);
  }

  /* MEDIA QUERY PARA EL MENU EN DISPOSITIVOS */

  @media only screen and (max-width: 600px) {
    nav li {
        float: none;
        display: block;
        height: auto;
        line-height: normal;
        width: 100%;
        transform: none;
        margin-bottom: 1px; /* Ajusta el margen inferior según tus necesidades */
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



  nav li.active {
    background-color: #151515;
    color: #efefef;
  }
  nav li.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f7ca18;
  }
  nav li:nth-child(1) {
    animation: pop 0.5s 0.15s 1 forwards;
  }
  nav li:nth-child(2) {
    animation: pop 0.5s 0.3s 1 forwards;
  }
  nav li:nth-child(3) {
    animation: pop 0.5s 0.45s 1 forwards;
  }
  nav li:nth-child(4) {
    animation: pop 0.5s 0.6s 1 forwards;
  }
  nav li:nth-child(5) {
    animation: pop 0.5s 0.75s 1 forwards;
  }
  nav li:nth-child(6) {
    animation: pop 0.5s 0.9s 1 forwards;
  }
  nav li:nth-child(7) {
    animation: pop 0.5s 1.05s 1 forwards;
  }
  nav li:hover {
    color: #ececec;
  }
  nav li:active {
    background-color: #222;
  }
  nav li:nth-child(1):hover ~ .slide {
    left: 0;
  }
  nav li:nth-child(2):hover ~ .slide {
    left: 20vw;
  }
  nav li:nth-child(3):hover ~ .slide {
    left: 40vw;
  }
  nav li:nth-child(4):hover ~ .slide {
    left: 60vw;
  }
  nav li:nth-child(5):hover ~ .slide {
    left: 80vw;
  }
  nav li:nth-child(6):hover ~ .slide {
    left: 100vw;
  }
  nav li:nth-child(7):hover ~ .slide {
    left: 120vw;
  }
  nav li.slide {
    position: absolute;
    left: -20vw;
    top: 0;
    background-color: #fff;
    z-index: -1;
    height: 2px;
    margin-top: 98px;
    transition: left 0.3s ease;
    transform: translateY(0);
  }
  section {
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
  }
  section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  section .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
  }
  section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
  }
  section .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #f7ca18;
  }
  section .title span a::after {
    content: "";
    height: 2px;
    background-color: #f7ca18;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
  }
  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-webkit-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-o-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }

/*
  ABOUT ME STYLES */

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,700);
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .about {
            background: url(https://cdn.arstechnica.net/wp-content/uploads/2016/10/sierra.jpg);
            background-size: cover;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            letter-spacing: 1px;
            
            
        }

        .temizle {
            clear: both;
        }

        #kapsa {
            width: 100%;
            max-width: 800px;
            margin: 15px auto 15px auto;
            opacity: 0.9;
        }

        #ust {
            background: #CEF3DD;
            height: 30px;
            line-height: 30px;
            border-radius: 15px 15px 0 0;
            padding-right: 10px;
            padding-left: 14px;
        }

        #baslik {
            display: inline-block;
            color: darkslategrey;
        }

        #islem {
            float: right;
        }

        #y {
            background: #03d544;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
        }

        #s {
            background: #ffbe03;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
        }

        #k {
            background: #ff4545;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
        }
        /* Orta Kısım */

        #no {
            width: 41px;
            background: #263238;
            text-align: right;
            padding: 7px 10px 7px 0;
            float: left;
            color: #cdd3de;
        }

        .numara {
            display: block;
        }

        #satir {
            background: #1B2225;
            color: #cdd3de;
            display: inline-block;
            padding: 7px 10px;
            width: calc(100% - 41px);
        }

        .yorum {
            color: #98A8B5;
            font-weight: 400;
            display: block;
        }

        .yorum a {
            text-decoration: none;
            border-bottom: 1px dotted;
            color: aquamarine;
            font-weight: 400;
            font-style: italic;
        }

        .cl {
            color: #8EDCF5;
        }

        .id {
            color: #F3A5F7;
        }

        .beyaz {
            color: #cccccc;
        }

        .secici {
            color: #CDFF8E;
        }

        .ozellik {
            color: #FFFFFF;
        }

        .onemli {
            color: #FFA9A9;
            font-style: italic;
        }

        #alt {
            background: #CEF3DD;
            height: 30px;
            line-height: 30px;
            border-radius: 0 0 15px 15px;
            padding-right: 10px;
            text-align: center;
        }

        #alt a {
            margin-left: 5px;
            border-bottom: 1px dotted;
            text-decoration: none;
            color: #213738;
        }


        @media (max-width: 767px) {
          /* Estilos para dispositivos móviles */

          .about {
            
        }

        }    

/*  PORTFOLIO STYLES */

.portfolio {

    background-color: #1b1b1b;
}

.portfolio {
	font-family: "Open Sans", Arial, sans-serif;
	min-height: 100vh;
	background-color: #252525;
	color: #c5c4c4;
	padding-bottom: 150px;
}

img {
	display: block;
}

.div-container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	font: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.btn:focus {
	outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
	padding: 50px 0;
}

.profile::after {
	content: "";
	display: block;
	clear: both;
}

.img_profile{
  width: 250px;
  height: auto;
}

.profile-image {
 
	float: left;
	width: calc(33.333% - 10px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.profile-image img {
	border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
	float: left;
	width: calc(66.666% - 20px);
}

.profile-user-settings {
	margin-top: 11px;
}

.profile-user-name {
	display: inline-block;
	font-size: 32px;
	font-weight: 300;
 
}

.profile-edit-btn {
	font-size: 14px;
	line-height: 1.8;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	padding: 0 24px;
	margin-left: 20px;
  
}

.profile-settings-btn {
	font-size: 20px;
	margin-left: 10px;
  
  
}

.profile-stats {
	margin-top: 23px;
  
}

.profile-stats li {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	margin-right: 40px;
	cursor: pointer;
  
}

.profile-stats li:last-of-type {
	margin-right: 0;
}

.profile-bio {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 23px;
 
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
	font-weight: 600;
}

/* Gallery Section */

.gallery {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 20px; */
  grid-template-columns: repeat(3, 1fr); /* Cambiar a repeat(3, 1fr) para mostrar siempre 3 columnas */
  grid-gap: 15px; /* Ajusta el espacio entre las imágenes según sea necesario */
}

.gallery-item {
	position: relative;
	flex: 1 0 220px;
	margin: 10px;
	color: #fff;
	cursor: pointer;
}



.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
	display: none;
}

.gallery-item-info li {
	display: inline-block;
	font-size: 20px;
	font-weight: 400px;
}

.gallery-item-likes {
	margin-right: 22px;
}

.gallery-item-type {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
	transform: rotateY(180deg);
}

.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Loader */

.loader {
	width: 50px;
	height: 50px;
	border: 6px solid #999;
	border-bottom-color: transparent;
	border-radius: 50%;
	margin: 0 auto;
	animation: loader 500ms linear infinite;
}



/* Media Query */

@media screen and (max-width: 480px) {
	.profile {
		display: flex;
		flex-wrap: wrap;
		padding: 40px 0;
	}

  .img_profile{
    width: 150px;
    height: auto;
  }

	.profile::after {
		display: none;
	}

	.profile-image,
	.profile-user-settings,
	.profile-bio,
	.profile-stats {
		float: none;
		width: auto;
	}

  
	.profile-user-settings {
		flex-basis: calc(100% - 107px);
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
	}

	.profile-user-name {
		font-size: 22px;
	}

	.profile-edit-btn {
		order: 1;
		padding: 0;
		text-align: center;
		margin-top: 10px;
	}

	.profile-edit-btn {
		margin-left: 0;
	}

	.profile-bio {
		font-size: 14px;
		margin-top: 15px;
	}

	.profile-edit-btn,
	.profile-bio,
	.profile-stats {
		flex-basis: 100%;
	}

	.profile-stats {
		order: 1;
		margin-top: 15px;
	}

	.profile-stats ul {
		display: flex;
		text-align: center;
		padding: 12px 0;
		border-top: 1px solid #dadada;
		border-bottom: 1px solid #dadada;
	}

	.profile-stats li {
		font-size: 14px;
		flex: 1;
		margin: 0;
	}

	.profile-stat-count {
		display: block;
	}
  
}

/* Spinner Animation */

@keyframes loader {
	to {
		transform: rotate(360deg);
	}
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
	.profile {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(3, auto);
		grid-column-gap: 30px;
		align-items: center;
	}

	.profile-image {
		grid-row: 1 / -1;
	}

	

	.profile-image,
	.profile-user-settings,
	.profile-stats,
	.profile-bio,
	.gallery-item,
	.gallery {
		width: auto;
		margin: 0;
	}

 
 
  

	@media (max-width: 767px) {
		.profile {
			grid-template-columns: auto 1fr;
			grid-row-gap: 15px;
		}

		.profile-image {
			grid-row: 1 / 2;
		}    

   .profile-user-settings {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: 10px;
		}

		.profile-edit-btn,
		.profile-stats,
		.profile-bio {
			grid-column: 1 / -1;
		}

		.profile-user-settings,
		.profile-edit-btn,
		.profile-settings-btn,
		.profile-bio,
		.profile-stats {
			margin: 0;
		}

    /* GALERÍA DE IMAGENES */

    .gallery {
      display: grid;
      /* grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 20px; */
      grid-template-columns: repeat(3, 1fr); /* Cambiar a repeat(3, 1fr) para mostrar siempre 3 columnas */
      grid-gap: 0px; /* Ajusta el espacio entre las imágenes según sea necesario */
    }
	}
}





/* CONTACT STYLES */

.contact {
  background-color: #2e2e2e;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
input:hover {
  background: #b3aca7;
  color: #e2dedb;
}



textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 470px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}
#submit:hover {
  color: #e2dedb;
}




/* BLOG STYLES */

.blog{
  background-color: #1b1b1b;
}

.blog h1 {
  color: whitesmoke;
  text-align: center;
}