@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

a {
    color: inherit;
    text-decoration: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  ::selection {
    background-color: #f7ca18;
    color: #1b1b1b;
  } 

  nav {
    z-index: 9999;
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    bottom: 0;
    height: 100px;
    overflow: hidden;
  }
  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
  }
  nav li {
    display: flex;
    justify-content: center;
    margin: 0;
    /* float: left; */
    display: inline-block;
    height: 98px;
    margin-bottom: 2px;
    line-height: 100px;
    width: 20vw;
    text-align: center;
    color: #555;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    transform: translateY(100%);
  }



  /* MEDIA QUERY PARA EL MENU EN DISPOSITIVOS */

 @media only screen and (max-width: 890px) {

    nav li {
        float: none;
        display: block;
        height: auto;
        line-height: normal;
        width: 100%;
        transform: none;
        margin-bottom: 4px; 
        margin-top: 8px;     
        font-size: 9px;       
       
      }

    nav {
        display: flex;      
        flex-direction: column;
        align-items: center;
        height: 120px;
    }
}

  nav li.active {
    background-color: #151515;
    color: #efefef;
  }
  nav li.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f7ca18;
  }
  nav li:nth-child(1) {
    animation: pop 0.5s 0.15s 1 forwards;
  }
  nav li:nth-child(2) {
    animation: pop 0.5s 0.3s 1 forwards;
  }
  nav li:nth-child(3) {
    animation: pop 0.5s 0.45s 1 forwards;
  }
  nav li:nth-child(4) {
    animation: pop 0.5s 0.6s 1 forwards;
  }
  nav li:nth-child(5) {
    animation: pop 0.5s 0.75s 1 forwards;
  }
  nav li:nth-child(6) {
    animation: pop 0.5s 0.9s 1 forwards;
  }
  nav li:nth-child(7) {
    animation: pop 0.5s 1.05s 1 forwards;
  }
  nav li:hover {
        color: #ececec;
  }
  nav li:active {
    background-color: #222;
  }
  nav li:nth-child(1):hover ~ .slide {
    left: 0;
  }
  nav li:nth-child(2):hover ~ .slide {
    left: 20vw;
  }
  nav li:nth-child(3):hover ~ .slide {
    left: 40vw;
  }
  nav li:nth-child(4):hover ~ .slide {
    left: 60vw;
  }
  nav li:nth-child(5):hover ~ .slide {
    left: 80vw;
  }
  nav li:nth-child(6):hover ~ .slide {
    left: 100vw;
  }
  nav li:nth-child(7):hover ~ .slide {
    left: 120vw;
  }
  nav li.slide {
    position: absolute;
    left: -20vw;
    top: 0;
    z-index: -1;
    height: 2px;
    margin-top: 98px;
    transition: left 0.3s ease;
    transform: translateY(0);
  }
  section {
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
  }
  section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  section .title span {
    display: inline-block;
    font-size: 5vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
  }
  section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
  }
  section .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #f7ca18;
  }
  section .title span a::after {
    content: "";
    height: 2px;
    background-color: #f7ca18;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
  }
  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-webkit-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-o-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }

/*
  ABOUT ME STYLES */

 @import url(https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,700);
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .about {
            background: url(https://cdn.arstechnica.net/wp-content/uploads/2016/10/sierra.jpg);
            background-size: cover;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            letter-spacing: 1px;

            
        }

        .temizle {
            clear: both;
        }

        #kapsa {
            width: 100%;
            max-width: 800px;
            margin: 15px auto 15px auto;
            opacity: 0.9;
        }

        #ust {
            background: #CEF3DD;
            height: 30px;
            line-height: 30px;
            border-radius: 15px 15px 0 0;
            padding-right: 10px;
            padding-left: 14px;
        }

        #baslik {
            display: inline-block;
            color: darkslategrey;
        }

        #islem {
            float: right;
        }

        #y {
            background: #03d544;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
        }

        #s {
            background: #ffbe03;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
        }

        #k {
            background: #ff4545;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            display: inline-block;
            margin: 0 2px;
            cursor: pointer;
        }
        /* Orta Kısım */

        #no {
            width: 41px;
            background: #263238;
            text-align: right;
            padding: 7px 10px 7px 0;
            float: left;
            color: #cdd3de;
        }

        .numara {
            display: block;
        }

        #satir {
            background: #1B2225;
            color: #cdd3de;
            display: inline-block;
            padding: 7px 10px;
            width: calc(100% - 41px);
        }

        .yorum {
            color: #98A8B5;
            font-weight: 400;
            display: block;
        }

        .yorum a {
            text-decoration: none;
            border-bottom: 1px dotted;
            color: aquamarine;
            font-weight: 400;
            font-style: italic;
        }

        .cl {
            color: #8EDCF5;
        }

        .id {
            color: #F3A5F7;
        }

        .beyaz {
            color: #cccccc;
        }

        .secici {
            color: #CDFF8E;
        }

        .ozellik {
            color: #FFFFFF;
        }

        .onemli {
            color: #FFA9A9;
            font-style: italic;
        }

        #alt {
            background: #CEF3DD;
            height: 30px;
            line-height: 30px;
            border-radius: 0 0 15px 15px;
            padding-right: 10px;
            text-align: center;
        }

        #alt a {
            margin-left: 5px;
            border-bottom: 1px dotted;
            text-decoration: none;
            color: #213738;
        }


        @media (max-width: 767px) {
          /* Estilos para dispositivos móviles */

          .about {
            
        }

        }    

/*  PORTFOLIO STYLES */

.portfolio {

    background-color: #1b1b1b;
}

.portfolio {
	font-family: "Open Sans", Arial, sans-serif;
	min-height: 100vh;
	background-color: #252525;
	color: #c5c4c4;
	padding-bottom: 150px;
}

.img_profile {
	display: block;
}

.div-container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 20px;
}

.btn {
	display: inline-block;
	font: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.btn:focus {
	outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
	padding: 50px 0;
}

.profile::after {
	content: "";
	display: block;
	clear: both;
}

.img_profile{
  width: 250px;
  height: auto;
}

.bio-container{
  overflow: auto;
}

.logo-portfolio{
  width: 18px;
  float:left;
}

.profile-image {
 
	float: left;
	width: calc(33.333% - 10px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.profile-image img {
	border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
	float: left;
	width: calc(66.666% - 20px);
}

.profile-user-settings {
	margin-top: 11px;
}

.profile-user-name {
	display: inline-block;
	font-size: 32px;
	font-weight: 300;
 
}

.profile-edit-btn {
	font-size: 14px;
	line-height: 1.8;
	border: 1px solid #dbdbdb;
	border-radius: 3px;
	padding: 0 24px;
	margin-left: 20px;
  
}

.profile-settings-btn {
	font-size: 20px;
	margin-left: 10px;
  
  
}

.profile-stats {
	margin-top: 23px;
  
}

.profile-stats li {
	display: inline-block;
	font-size: 16px;
	line-height: 1.5;
	margin-right: 40px;
	cursor: pointer;
  
}

.profile-stats li:last-of-type {
	margin-right: 0;
}

.profile-bio {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 23px;
 
}

.profile-social{
  margin-left: 10px;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
	font-weight: 600;
}

/* Gallery Section */

.gallery {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 20px; */
  grid-template-columns: repeat(3, 1fr); /* Cambiar a repeat(3, 1fr) para mostrar siempre 3 columnas */
  grid-gap: 15px; /* Ajusta el espacio entre las imágenes según sea necesario */
}

.gallery-item {
	position: relative;
	flex: 1 0 220px;
	margin: 10px;
	color: #fff;
	cursor: pointer;
}



.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
	display: none;
}

.gallery-item-info li {
	display: inline-block;
	font-size: 20px;
	font-weight: 400px;
}

.gallery-item-likes {
	margin-right: 22px;
}

.gallery-item-type {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 25px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
	transform: rotateY(180deg);
}

.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Loader */

.loader {
	width: 50px;
	height: 50px;
	border: 6px solid #999;
	border-bottom-color: transparent;
	border-radius: 50%;
	margin: 0 auto;
	animation: loader 500ms linear infinite;
}



/* Media Query */

@media screen and (max-width: 480px) {
	.profile {
		display: flex;
		flex-wrap: wrap;
		padding: 40px 0;
	}

  .img_profile{
    width: 150px;
    height: auto;
  }

	.profile::after {
		display: none;
	}

	.profile-image,
	.profile-user-settings,
	.profile-bio,
	.profile-stats {
		float: none;
		width: auto;
	}

  
	.profile-user-settings {
		flex-basis: calc(100% - 107px);
		display: flex;
		flex-wrap: wrap;
		margin-top: 10px;
	}

	.profile-user-name {
		font-size: 22px;
	}

	.profile-edit-btn {
		order: 1;
		padding: 0;
		text-align: center;
		margin-top: 10px;
	}

	.profile-edit-btn {
		margin-left: 0;
	}

	.profile-bio {
		font-size: 14px;
		margin-top: 15px;
	}

	.profile-edit-btn,
	.profile-bio,
	.profile-stats {
		flex-basis: 100%;
	}

	.profile-stats {
		order: 1;
		margin-top: 15px;
	}

	.profile-stats ul {
		display: flex;
		text-align: center;
		padding: 12px 0;
		border-top: 1px solid #dadada;
		border-bottom: 1px solid #dadada;
	}

	.profile-stats li {
		font-size: 14px;
		flex: 1;
		margin: 0;
	}

	.profile-stat-count {
		display: block;
	}
  
}

/* Spinner Animation */

@keyframes loader {
	to {
		transform: rotate(360deg);
	}
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
	.profile {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(3, auto);
		grid-column-gap: 30px;
		align-items: center;
	}

	.profile-image {
		grid-row: 1 / -1;
	}

	

	.profile-image,
	.profile-user-settings,
	.profile-stats,
	.profile-bio,
	.gallery-item,
	.gallery {
		width: auto;
		margin: 0;
	}

  

	@media (max-width: 767px) {
		.profile {
			grid-template-columns: auto 1fr;
			grid-row-gap: 15px;
		}

		.profile-image {
			grid-row: 1 / 2;
		}    

   .profile-user-settings {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: 10px;
		}

		.profile-edit-btn,
		.profile-stats,
		.profile-bio {
			grid-column: 1 / -1;
		}

		.profile-user-settings,
		.profile-edit-btn,
		.profile-settings-btn,
		.profile-bio,
		.profile-stats {
			margin: 0;
		}

    /* GALERÍA DE IMAGENES */

    .gallery {
      display: grid;
      /* grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 20px; */
      grid-template-columns: repeat(3, 1fr); /* Cambiar a repeat(3, 1fr) para mostrar siempre 3 columnas */
      grid-gap: 0px; /* Ajusta el espacio entre las imágenes según sea necesario */
    }

    /* LOADER */

    .loader {

      width: 20px;
      height: 20px;
      border: 3px solid #999;
      border-bottom-color: transparent;
      border-radius: 50%;
      margin: 20px auto 0;
      animation: loader 500ms linear infinite;
    }
	}
}





/* CONTACT STYLES */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-contact{
  margin-bottom: 50px;
 color: whitesmoke;
 margin-left: 15px;
 font-size: 45px;
 
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 30px;
  margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #1f2e43;
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, #263a53 0 40%, transparent 40.2%
    ), 
    #1f2e43;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
  }
  
}



.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.img-contact {
  width: 45px;
  height: 45px;
 
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #363636;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  .title-contact {
    font-size: 33px;
  }
}

@media only screen and (max-width: 400px) {
  .title-contact {
    font-size: 30px;
  }
  
  .links {
    padding-top: 30px;
  }
  
 
}

/* TECHNOLOGIES STYLES */


.area{
    
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */


.html + svg .outer {
  stroke: #e34f26;
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: #0d84ce;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #f0e040;
}

.node {
  width: 200px;
  height: 200px;
  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

/* END Keyframes for the initial animation */


.skills-container {
 margin-top: 190px;
 margin-left: 35vw;
}

@media only screen and (max-width: 700px) {
  .skills-container  {
    margin-top: 50px;
    margin-left:0;
  }
}

.title-skills{
  margin-bottom: 50px;
 color: whitesmoke;
 margin-left: 15px;
}

.skills-bar-container {
 
  min-width: 350px;
  margin: auto;
  list-style: none;
}

.skills-bar-container li {
  background: #666666;
  position: relative;
  width: 100%;
  height: 3px;
  margin-bottom: 35px;
  margin-top: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.skills-bar-container label {
  color: #fff;
  position: relative;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 300;
}

.progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#progress-htmlcss {
  -webkit-animation-name: progress-htmlcss;
  animation-name: progress-htmlcss;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-jsjq {
  -webkit-animation-name: progress-jsjq;
  animation-name: progress-jsjq;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-laravel {
  -webkit-animation-name: progress-laravel;
  animation-name: progress-laravel;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-booststrap {
  -webkit-animation-name: progress-booststrap;
  animation-name: progress-booststrap;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-git {
  -webkit-animation-name: progress-git;
  animation-name: progress-git;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-illustrator {
  -webkit-animation-name: progress-illustrator;
  animation-name: progress-illustrator;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

#progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}

#progress-csharp {
  -webkit-animation-name: progress-csharp;
  animation-name: progress-csharp;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#progress-sql {
  -webkit-animation-name: progress-sql;
  animation-name: progress-sql;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.progressblue {
  background-color: #f7ca18;
}

@-webkit-keyframes progress-htmlcss {
  0% {
      width: 0%;
  }
  100% {
      width: 90%;
  }
}

@-webkit-keyframes progress-jsjq {
  0% {
      width: 0%;
  }
  100% {
      width: 10%;
  }
}

@-webkit-keyframes progress-laravel {
  0% {
      width: 0%;
  }
  100% {
      width: 19%;
  }
}

@-webkit-keyframes progress-booststrap {
  0% {
      width: 0%;
  }
  100% {
      width: 85%;
  }
}

@-webkit-keyframes progress-git {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}

@-webkit-keyframes progress-illustrator {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@-webkit-keyframes progress-java {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@-webkit-keyframes progress-csharp {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@-webkit-keyframes progress-sql {
  0% {
      width: 0%;
  }
  100% {
      width: 50%;
  }
}

@-moz-keyframes progress-htmlcss {
  0% {
      width: 0%;
  }
  100% {
      width: 90%;
  }
}

@-moz-keyframes progress-jsjq {
  0% {
      width: 0%;
  }
  100% {
      width: 10%;
  }
}

@-moz-keyframes progress-laravel {
  0% {
      width: 0%;
  }
  100% {
      width: 19%;
  }
}

@-moz-keyframes progress-booststrap {
  0% {
      width: 0%;
  }
  100% {
      width: 85%;
  }
}

@-moz-keyframes progress-git {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}

@-moz-keyframes progress-illustrator {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@-moz-keyframes progress-java {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@-moz-keyframes progress-csharp {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@-moz-keyframes progress-sql {
  0% {
      width: 0%;
  }
  100% {
      width: 50%;
  }
}

@keyframes progress-htmlcss {
  0% {
      width: 0%;
  }
  100% {
      width: 90%;
  }
}

@keyframes progress-jsjq {
  0% {
      width: 0%;
  }
  100% {
      width: 10%;
  }
}

@keyframes progress-laravel {
  0% {
      width: 0%;
  }
  100% {
      width: 19%;
  }
}

@keyframes progress-booststrap {
  0% {
      width: 0%;
  }
  100% {
      width: 85%;
  }
}

@keyframes progress-git {
  0% {
      width: 0%;
  }
  100% {
      width: 100%;
  }
}

@keyframes progress-illustrator {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@keyframes progress-java {
  0% {
      width: 0%;
  }
  100% {
      width: 75%;
  }
}

@keyframes progress-csharp {
  0% {
      width: 0%;
  }
  100% {
      width: 65%;
  }
}

@keyframes progress-sql {
  0% {
      width: 0%;
  }
  100% {
      width: 50%;
  }
}